#game-board, #matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 330px; /* Adjust as needed */
}

.card {
    border: 2px solid #ccc;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    height: 55px; /* Adjust as needed */
}

.card.selected {
    border-color: blue;
    background-color: #e0e0ff;
}

.card.selected {
    border-color: blue;
    background-color: #e0e0ff;
}

.card.selected.match {
    border-color: green;
}

.card.selected.alreadyfound {
    border-color: red;
}

.card.selected.nonmatch {
    border-color: green;
}
